<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>881848777600-039ivnuovao4svn6e1ecs9urdbmm4069.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.881848777600-039ivnuovao4svn6e1ecs9urdbmm4069</string>
	<key>API_KEY</key>
	<string>AIzaSyARMvPOF8rsmS5g392c90yu3U_RkLHXo7I</string>
	<key>GCM_SENDER_ID</key>
	<string>881848777600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cheetah.IGApp</string>
	<key>PROJECT_ID</key>
	<string>igapp-a3225</string>
	<key>STORAGE_BUCKET</key>
	<string>igapp-a3225.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:881848777600:ios:da745c2fb1a33a81d8df65</string>
</dict>
</plist>